body {
  background-image: url(/images/fundo.svg);
  background-size: 100%;
}

.content {
  display: flex;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    107.56deg,
    rgba(104, 151, 213, 0.8) 0%,
    rgba(237, 245, 255, 0.8) 100%
  );
}

form {
  position: absolute;
  width: 41.3rem;
  height: 54.1rem;
  left: 52rem;
  margin-top: 6.8rem;
  margin-left: 3rem;
}

.container img {
  margin-left: 14.6rem;
  width: 12rem;
  height: 12rem;
  margin-top: 2.9rem;
}

.label {
  font-family: 'Ubuntu', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 2.4rem;
  color: var(--Cor_5);
  margin-top: 5.4rem;
  margin-bottom: 0.6rem;
}

h2 {
  font-size: 3rem;
  color: var(--Cor_5);
  text-align: center;
  margin-top: 2.2rem;
  margin-bottom: 5.4rem;
}

input {
  width: 39.9rem;
  height: 4.7rem;
  border-radius: 10px;
  background: #ffffff;
  border: 1px solid var(--Cor_5);
  margin-bottom: 2.2rem;
  color: var(--Cor_1);
}

button {
  width: 12.1rem;
  height: 5.4rem;
  border-radius: 20px;
  background: var(--Cor_6);

  font-family: Ubuntu;
  font-size: 2.1rem;
  line-height: 25px;
  text-align: center;
  color: #ffffff;

  margin-top: 1.5rem;
  margin-left: 28rem;
}
