.content {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
}

section {
  text-align: center;
  position: absolute;
  width: 413px;
  height: 541px;
  left: 428px;
  top: 58px;
  margin-top: 3.65rem;
  padding: center;
}

.fundo {
  width: 100%;
}

input {
  outline: none;
  position: absolute;
  width: 24.93rem;
  height: 2.93rem;
  left: calc(50% - 399px / 2);
  background: #ffffff;
  border: 1px solid #2c5891;
  box-sizing: border-box;
  border-radius: 10px;

  margin-bottom: 4rem;
  padding: 1.3rem 1.6rem;

  width: min(70%, 30.2rem);
}

.sr-only {
  position: absolute;
  width: 399px;
  height: 47px;
  left: calc(50% - 399px / 2);
  bottom: 0px;

  background: #ffffff;
  border: 1px solid #2c5891;
  box-sizing: border-box;
  border-radius: 10px;
}

.sr-only1 {
  position: absolute;
  width: 399px;
  height: 47px;
  left: calc(50% - 399px / 2);
  bottom: -4px;

  background: #ffffff;
  border: 1px solid #2c5891;
  box-sizing: border-box;
  border-radius: 10px;
}
