* {
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  --Cor_1: #13253c;
  --Cor_2: #2166bc;
  --Cor_3: #f5f5f5;
  --Cor_4: #184a89;
  --Cor_5: #2c5891;
  --Cor_6: #3d82db;
  --Cor_10: #006fff;
  --Cor_fundo: #edf5ff;

  font-size: 62.5%;
}

body {
  height: 100vh;
  background: var(--Cor_fundo);
}

.content {
  width: 100px;
  margin: 0 auto;
}

body,
button,
input {
  font-size: clamp(14px, 1.6rem, 2vw);
  font-family: 'Ubuntu', sans-serif;
}
