* {
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
}

main {
  height: 100vh;
}

body {
  background-image: url(/images/fundo.svg);
  background-size: 100%;
}

.container {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    107.56deg,
    rgba(104, 151, 213, 0.8) 0%,
    rgba(237, 245, 255, 0.8) 100%
  );
}

form {
  text-align: center;
  position: absolute;
  width: 539px;
  height: 541px;
  left: 428px;
  top: 58px;
  margin-top: 3.625rem;
  margin-left: 3rem;
}

h2 {
  font-family: 'Ubuntu', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  color: #2c5891;
  margin: 3.5rem, 0;
}

button {
  position: absolute;
  width: 121px;
  height: 54px;
  left: 285px;
  top: 430px;
  text-align: center;
  background: #3d82db;
  border-radius: 20px;
  margin-left: 4rem;
}

.sr-only {
  font-family: 'Ubuntu', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  color: #2c5891;
  display: flex;
  margin-left: 4rem;
}

.sr-only1 {
  font-family: 'Ubuntu', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  color: #2c5891;
  display: flex;
  margin-left: 4rem;
}

input {
  display: flex;
  position: absolute;
  left: calc(50% - 399px / 2);
  outline: none;
  width: 24.93rem;
  height: 2.93rem;
  background: #ffffff;
  border: 1px solid #2c5891;
  box-sizing: border-box;
  border-radius: 10px;
}

.separator {
  display: flex;
  align-items: center;
  margin: 1.375rem 0;
}
